.App {

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card
{
  font-size: smaller;
  margin:40px 30px 0 30px;
  border-radius: 15px;
  min-height: 200px;
  box-shadow: 0 0 8px 0 rgba(62, 60, 60, 0.3);
}

.card-title
{
  font-size: medium;
 
}

.navbar
{
  background-color:#1C315E;
    
  box-shadow: 0 0 10px 0 rgba(11, 11, 11, 0.3);
}

.nav-link
{
  color: aliceblue;
  
}



.title{
  margin-top:1.2rem;
  font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.navbar-brand
{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.btn-mybtn
{
  background-color:#1C315E;
  color: aliceblue;
}
.btn-mybtn:hover {
  background-color: #041437fc;
  color: aliceblue;
}